
body > .ui.container {
    margin-top: 3em;
}

#map {
    width: 60%;
    height: 70em;
    margin: 0 auto;
}

#topbar {
    margin-bottom: 2em;
    padding: 1em;
}

/* Kolor szary po kliknięciu */
.ui.button.grey {
    background-color: #d3d3d3 !important;
}


.ui.button.active-convenience {
    background-color: #21ba45 !important;
    color: white;
}

.ui.button.active-restaurant {
    background-color: #fbbd08 !important;
    color: white;
}

.ui.button.active-community_centre {
    background-color: #1e2020 !important;
    color: white;
}

.ui.button.active-cafe {
    background-color: #A52A2A !important;
    color: white;
}
.ui.button.active-pharmacy {
    background-color: #FF1493 !important;
    color: white;
}

.ui.button.active-books {
    background-color: #B413EC !important;
    color: white;
}

.ui.button.active-fast_food {
    background-color: #EE82EE !important;
    color: white;
}

.ui.button.active-gym {
    background-color: #008080 !important;
    color: white;
}

#control-buttons {
    margin-bottom: 4em;
    margin-top: 5em;
}

#distance-buttons {
    padding: 0.7em
}

#category-filters {
    margin-left: 1em;
}

#search-bar {
    width: 30em !important;
    margin-bottom: 1.5em;
    margin-left: 2em;
}

#footer {
    margin-top: 7em;
}
