{% extends "base/base.html" %}
{% load static %}
{% load i18n %}
{% block css %}
    <link rel="stylesheet" href="{% static 'map/css/map.css' %}">
{% endblock %}
{% block content %}
    <div class="ui centered grid" id="control-buttons">
        <div class="ui row">
            <div class="one wide column"></div>
            <div class="eleven wide column left aligned">
                <div class="ui huge icon input" id="search-bar">
                    <input type="text" placeholder="{% trans 'Szukaj' %}">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
        <div class="ui row">
            <div class="one wide column" style="margin-right: 4.5em"></div>
            <div class="column five wide" id="category-filters">
                <h3>{% trans 'Punty na mapie' %}</h3>
                <div>
                    <button class="ui button large toggle-poi active-convenience" data-poi="convenience">
                        {% trans 'Sklepy' %}
                    </button>
                    <button class="ui button toggle-poi large active-restaurant" data-poi="restaurant">
                        {% trans 'Restauracje' %}
                    </button>
                    <button class="ui button large toggle-poi active-fast_food" data-poi="fast_food">
                        {% trans 'Fast Foody' %}
                    </button>
                    <button class="ui brown button toggle-poi large active-cafe" data-poi="cafe">
                        {% trans 'Kawiarnie' %}
                    </button>
                    <button class="ui button toggle-poi large active-pharmacy" data-poi="pharmacy">
                        {% trans 'Apteki' %}
                    </button>
                    <button class="ui button toggle-poi large active-gym" data-poi="gym">
                        {% trans 'Siłownie' %}
                    </button>
                    <button class="ui button toggle-poi large active-books" data-poi="books">
                        {% trans 'Księgarnie' %}
                    </button>
                    <button class="ui button toggle-poi large active-community_centre" data-poi="community_centre">
                        {% trans 'Kultura' %}
                    </button>
                </div>
            </div>

            <div class="ui six wide column">
                <h3>{% trans 'Odległość od mieszkania' %}</h3>
                <div class="ui icon buttons" id="distance-buttons">
                    <button class="ui large button distance" data-distance="1">
                        <i class="circle outline icon"></i>
                        1 km
                    </button>
                    <button class="ui large button distance active" data-distance="2">
                        <i class="circle outline icon"></i>
                        2 km
                    </button>
                    <button class="ui large button distance" data-distance="3">
                        <i class="circle outline icon"></i>
                        3 km
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="map"></div>
{% endblock %}

{% block js %}
    <script src="{% static 'map/js/map/base.js' %}"></script>
    <script src="{% static 'map/js/map/poi.js' %}"></script>
    <script src="{% static 'map/js/map/distance_resize.js' %}"></script>
{% endblock %}
