{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% include 'map/_head.html' %}
</head>
<body>
<div class="ui stackable huge menu">

        <div class="item">
            <img src="https://semantic-ui.com/images/logo.png">
        </div>
        <a class="item active" href="{% url 'map-test' %}">Home</a>
        <a class="item" href="{% url 'map-test-saved-searches' %}">Zapisane wyszukiwania</a>
        <div class="right menu">

        <div id="drop" class="ui dropdown borderless item">
            Language <i class="dropdown icon"></i>
            <div class="menu borderless">
                <a class="item">Polish</a>
                <a class="item">English</a>
            </div>
        </div>
        <div class="item borderless">
            <div class="ui violet button" id="login-button">
                <i class="address card icon"></i> Log-in
            </div>
        </div>
        <div class="item borderless">
            <div class="ui violet button">
                <i class="icon user"></i> Sign Up
            </div>
        </div>
    </div>
</div>
<div class="ui container">
    <div id="topbar">
        <div class="ui stackable grid inverted container">
            <div class="row">
                <div class="ui big icon input">
                    <input type="text" placeholder="Search big...">
                    <i class="search icon"></i>
                </div>
            </div>
            <div class="row">
                <button id="toggle-shops" class="ui button large active-shop">
                    Sklepy
                </button>
                <button id="toggle-restaurants" class="ui button large active-restaurant">
                    Restauracje
                </button>
                <button id="toggle-leisure" class="ui button large active-leisure">
                    Aktywności
                </button>
            </div>
            <div class="row">
                <div class="ui icon buttons">
                    <button class="ui medium button distance" data-distance="1">
                        <i class="circle outline icon"></i>
                        1 km
                    </button>
                    <button class="ui medium button distance active" data-distance="2">
                        <i class="circle outline icon"></i>
                        2 km
                    </button>
                    <button class="ui medium button distance" data-distance="3">
                        <i class="circle outline icon"></i>
                        3 km
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="map"></div>
<script>

$( document ).ready(function() {
    $("#drop").dropdown();
});
</script>
<script src="{% static 'js/map/base.js' %}"></script>
<script src="{% static 'js/map/distance_resize.js' %}"></script>
<script src="{% static 'js/map/map.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</body>
</html>
