<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>GD Test app visible in DEBUG mode</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/mapbox-gl-fontawesome-markers@0.0.1/dist/index.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css"
          integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@7.1.0/turf.min.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            height: 1000px;
            width: 2000px;
            margin: 200px auto 0;
        }
    </style>
</head>
<body>
<div id="map"></div>


<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoia2FtaWxiOTYxMCIsImEiOiJjbTRtaDE4dWIwNHphMndxc3F2NWJmNmw1In0.HqebzlQEy9WPPxw3Fb_ntQ';
    const map = new mapboxgl.Map({
        style: 'mapbox://styles/kamilb9610/cm4oif82n001e01qy95ou2yxk',
        container: 'map', // container ID
        center: [21.0456641, 52.1942434], // starting position [lng, lat]. Note that lat must be set between -90 and 90
        zoom: 14, // starting zoom,
    });
    map.on('load', function () {

        var center = [21.0456641, 52.1942434];
        var radiusTwo = 2;
        var options = {steps: 200, units: 'kilometers', properties: {foo: 'bar'}};
        var circle = turf.circle(center, radiusTwo, options);

        map.addLayer({
            "id": "circle",
            "type": "fill",
            "source": {
                "type": "geojson",
                "data": circle,
                "lineMetrics": true,
            },
            "paint": {
                "fill-color": "#b36d05",
                "fill-antialias": true,
                "fill-opacity": 0.1,
            },
            "layout": {}
        });
        map.addLayer({
            'id': 'states-layer-outline',
            'type': 'line',
            'source': {
                'type': 'geojson',
                'data': circle,
            },
            'paint': {
                'line-color': '#d69431',
                'line-width': 3,
                'line-opacity': 0.4,
            }
        });
        map.addControl(new mapboxgl.NavigationControl({showCompass: false}));
    });


    map.on('load', () => {
        // Add a GeoJSON source with 2 points
        map.addSource('points', {
            type: 'geojson',
            // Use a URL for the value for the `data` property.
            data: 'http://localhost:8080/map/find_points/?distance=2&category=shop,leisure,religion&lat=52.1942434&long=21.0456641'
        });

        // Add a symbol layer
        map.addLayer({
            'id': 'points',
            'type': 'symbol',
            'source': 'points',
            'layout': {
                'icon-image': [
                    'match',
                    ['get', 'category'],
                    'shop',
                    'cart1',
                    'religion',
                    'cross1',
                    'leisure',
                    'building-columns-solid',
                    'Asian',
                    '#3bb2d0',
                    /* other */ '#ccc'
                ],
                'text-field': ['get', 'name'],

                'text-font': [
                    'Open Sans Regular',
                    'Arial Unicode MS Regular'
                ],
                "text-size": 11,
                'text-offset': [0, 1.25],
                'text-anchor': 'top'
            }
        });
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"
        integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
