{% extends 'gd_backend/base.html' %}
{% block content %}
    <div class="ui grid">
        <div class="ui row">
            <div class="ui six wide column centered segment" style="height: 1500px">
                <div class="ui vertical menu">
                    <a class="item">
                        Email
                    </a>
                    <a class="item active">
                        Reset password
                    </a>
                    <a class="item">
                        Saved searches
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
