body > .ui.container {
    margin-top: 3em;
}
#login-button {
    margin-right: -1.9em;
}

#main-menu {
    border-radius: 0;
}
a {
    color: white;
    text-underline: none;
    transition: 0.2s ease;
}

a:hover {
    color: #ededed;
    text-underline: none;
}
