#login-button {
    margin-right: -1.4em;
}

#main-menu {
    border-radius: 0;
}
a {
    color: white;
    text-underline: none;
    transition: 0.2s ease;
}

a:hover {
    color: #ededed;
    text-underline: none;
}
